{% extends "base/base.html" %}
{% load static %}
{% block menu %}{% include 'base/menu_retec.html' %}{% endblock %}

{% block estilo %}
<style>
    .panel-hover:hover {border:1px solid #2ECD99}
    .panel-hover:hover .icon > i {color:#2ECD99 !important}
    .panel-hover:hover .file-name {background:#2ECD99; color:#FFF}
    .file .icon {height: auto !important}
    .file .icon i {font-size:3.5rem}
    .file .file-name {text-align: center}
    .dk-p {text-align: justify; margin-bottom: 1rem; color:#555}
</style>
{% endblock %}
{% block contenido %}
<div class="row heading-bg">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark mb-0"><strong>BIENVENIDO</strong><br></h5>
        <div style="letter-spacing:3px; color:#555; font:12px Arial">Módulo de reservas técnicas</div>
    </div>

    <!-- Breadcrumb -->
    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'inicio' %}">Morfee</a></li>
            <li class="active"><span>Inicio</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="d-flex justify-content-center mb-2">
    <div>
        <img width="37%" src="{% static 'img/famisanar.png' %}" alt="auth-img">
    </div>
    <div style="width: 13%;">
        
    </div>
    <div>
        <img width="80%" src="{% static 'img/logo_min.png' %}" alt="auth-img">
    </div>
</div>    
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view pb-0">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pb-0">
                    <div class="row">
                        <!-- item -->
                        <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-30">
                            <div class="panel panel-pricing mb-0">
                                  <div class="panel-heading pt-5">
                                    <img height="60px" src="{% static 'img/ico/contrato1.png' %}" alt="auth-img">
                                    <h5>CONTRATOS</h5>
                                </div>
                                <div class="panel-footer pb-35 pt-4 ">
                                    <a class="btn btn-success btn-rounded btn-lg" href="{% url 'retec_contratos_new' %}">VER CONTRATOS</a>
                                </div>
                            </div>
                        </div>
                        <!-- /item -->
                        <!-- item -->
                        <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-30">
                            <div class="panel panel-pricing mb-0">
                                <div class="panel-heading pt-5">
                                    <!-- 
                                        <i class="ti-wallet"></i>
                                    -->
                                    <img height="60px" src="{% static 'img/ico/autorizar1.png' %}" alt="auth-img">
                                    <h5>AUTORIZACIONES</h5>
                                </div>
                                <div class="panel-footer pb-35 pt-4">
                                    <a class="btn btn-success btn-rounded btn-lg" href="{% url 'retec_autorizaciones_new' %}">VER AUTORIZACIONES</a>
                                </div>
                            </div>
                        </div>
                        <!-- /item -->
                        <!-- item -->
                        <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-30">
                            <div class="panel panel-pricing mb-0">
                                <div class="panel-heading pt-5">
                                    <img height="60px" src="{% static 'img/ico/reservas1.png' %}" alt="auth-img">
                                    <h5>FACTURAS</h5>
                                </div>
                                <div class="panel-footer pb-35 pt-4">
                                    <a class="btn btn-success btn-rounded btn-lg" href="{% url 'retec_facturas_new' %}">VER FACTURAS</a>
                                </div>
                            </div>
                        </div>
                        <!-- /item -->
                        
                    </div>
                    <div class="row">
                        <!-- item -->
                        <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-30">
                            <div class="panel panel-pricing mb-0">
                                <div class="panel-heading pt-5">
                                    <img height="60px" src="{% static 'img/ico/pagos1.png' %}" alt="auth-img">
                                    <h5>PAGOS</h5>
                                </div>
                                <div class="panel-footer pb-35 pt-4">
                                    <a class="btn btn-success btn-rounded btn-lg" href="{% url 'retec_pagos_new' %}">VER PAGOS</a>
                                </div>
                            </div>
                        </div>
                        <!-- /item -->
                        <!-- item -->
                        <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-30">
                            <div class="panel panel-pricing mb-0">
                                <div class="panel-heading pt-5">
                                    <img height="55px" src="{% static 'img/ico/incapacidades1.png' %}" alt="auth-img">
                                    <h5>INCAPACIDADES</h5>
                                </div>
                                <div class="panel-footer pb-35 pt-4">
                                    <a class="btn btn-success btn-rounded btn-lg" href="{% url 'retec_incapacidades_new' %}">VER INCAPACIDADES</a>
                                </div>
                            </div>
                        </div>
                        <!-- /item -->
                        <!-- item -->
                        <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-30">
                            <div class="panel panel-pricing mb-0">
                                <div class="panel-heading pt-5">
                                    <img height="60px" src="{% static 'img/ico/proyecciones1.png' %}" alt="auth-img">
                                    <h5>PROYECCIONES</h5>
                                </div>
                                <div class="panel-footer pb-35 pt-4">
                                    <a class="btn btn-success btn-rounded btn-lg" href="{% url 'pro_inicio' %}">VER PROYECCIONES</a>
                                </div>
                            </div>
                        </div>
                        <!-- /item -->
                        
                    </div>	
                </div>	
            </div>	
        </div>	
    </div>	
</div>	
<!-- /Row -->
{% endblock %}
