{% extends "base/base.html" %}
{% load static %}

{% block contenido %}
<div class="d-flex justify-content-between my-4">
    <div>
        <h5 class="txt-dark mb-0">CAPITAL SALUD - <strong>TRIÁNGULOS RESERVAS</strong><br></h5>
        <div style="letter-spacing:3px; color:#555; font:12px Arial">Módulo de reservas técnicas</div>
    </div>
    <ol class="breadcrumb">
        <li><a href="{% url 'inicio' %}">Morfee</a></li>
        <li class="active"><span>Triángulo</span></li>
    </ol>
</div>
<retec-piramide 
    pathsearch="{% url 'retec_consulta' %}"
    pathperiodos="{% url 'retec_view' %}"
    pathfuente="{% url 'retec_fuente' %}"
    pathdata="{% url 'retec_pyr_data' %}" 
    cliente="{{ clienteId }}" 
    clientetx="{{ cliente }}"></retec-piramide>
{% endblock %}

{% block logica %}
<script>
    document.getElementById('taitico').classList.add('slide-nav-toggle');
</script>
{% endblock %}
