{% extends "base/base.html" %}
{% load static %}
{% block estilo %}
<style>
    .bg-target {cursor:pointer; background:#F0C541; padding:14px 20px; color:#FFF !important}
    .bg-custom {cursor:pointer; background:#DEDEDE; padding:14px 20px}
    .bg-custom + .bg-custom {border-left:1px solid #FEFEFE}
    .bg-custom:hover {background: #DEDEDEAA}
    .lc-icon {display:inline-block; width:35px !important; height:35px !important; background:#FFF; color:#8F908F; border-radius:50% !important}
    .lc-icon > i {font-size:16px}
</style>
{% endblock %}
{% block contenido %}
<cuentas-medicas pathdata="{% url 'fac_cm_data' %}"></cuentas-medicas>
{% endblock %}
