{% extends "morfee_frontier/base.html" %}
{% load static %}
{% block menu %}{% include 'morfee_frontier/menu_retec.html' %}{% endblock %}

{% block contenido %}
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">MÓDULO DE RESERVAS TÉCNICAS</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'inicio' %}">Morfee</a></li>
            <li><a href="{% url 'retec_inicio' %}">Reservas técnicas</a></li>
            <li><a href="{% url 'retec_autorizaciones' 'inicio' %}">Autorizaciones</a></li>
            <li class="active"><span>Importar</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<div class="panel panel-default card-view border">
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li><a href="{% url 'retec_autorizaciones' 'inicio' %}">Dashboard</a></li>
            <li><a href="{% url 'retec_autorizaciones' 'table' %}">Registros</a></li>
            <li class="active"><a href="{% url 'retec_autorizaciones' 'import' %}">Importar</a></li>
        </ul>
        <hr class="light-grey-hr">
        <h6 class="panel-title fs-5">IMPORTACIÓN DE DATOS - AUTORIZACIONES</h6>
    </div>
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <import-basic destino="{{ coleccion }}" separador_mode="disabled" subtitulo="RESERVAS TÉCNICAS - AUTORIZACIONES" separador=";"></import-basic>
        </div>
    </div>
</div>
<div class="panel panel-default card-view border">
    <div class="panel-heading">
        <h6 class="panel-title fs-5">HISTÓRICO DE IMPORTACIONES REALIZADAS</h6>
    </div>
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <import-list coleccion="{{ coleccion }}"></import-list>
        </div>
    </div>
</div>
{% endblock %}
