{% extends "morfee_frontier/base.html" %}
{% load static %}
{% block contenido %}
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">ADMINISTRADOR</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="active"><span>Clientes</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<div class="panel panel-default card-view border">
    <div class="panel-heading">
        <div class="d-flex">
            <h6 class="panel-title fs-5">CLIENTES REGISTRADOS</h6>
            <a href="{% url 'ad_cliente_add' %}" class="btn btn-success btn-sm ms-auto"><i class="icon-plus"></i> &nbsp;Nuevo</a>
        </div>
    </div>
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            {% if datos|length > 0 %}
            <div class="table-wrap">
                <div class="table-responsive">
                    <table class="table table-borderedx table-hover mb-0">
                        <thead>
                            <tr><th class="colmin">No.</th><th>Cliente</th><th>Dirección</th><th>Correo</th><th>Contacto</th><th class="text-center">EPS indígena</th><th>Módulos</th><th class="text-center colmin">Acción</th></tr>
                        </thead>
                        <tbody>
                        {% for dat in datos %}
                            <tr>
                                <td class="colmin">
                                    {{ forloop.counter }}
                                    <span class="d-none">
                                        {{ dat.id }}
                                    </span>
								</td>
                                <td>{{ dat.cliente }}</td>
                                <td>{{ dat.direccion }}</td>
                                <td>{{ dat.correo }}</td>
                                <td>{{ dat.contacto }}</td>
                                <td class="text-center">
                                    {% if dat.is_indigena %}
                                    <div class="label label-success px-3">Sí</div>
                                    {% else %}
                                    <div class="label label-warning px-2">No</div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% for mod in dat.badges %}
                                        <div class="label label-primary"><i class="fa fa-check"></i> {{ mod }}</div>
                                    {% endfor %}
                                </td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center mx-4">
                                        <a href="{% url 'ad_cliente_edit' dat.id %}" class="me-4" data-toggle="tooltip" data-original-title="Editar"><i class="fa fa-pencil"></i></a>
                                        <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Eliminar"><i class="fa fa-close text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- End table-wrap -->
            {% else %}
            <div class="bg-light-warning border border-warning txt-dark px-3 py-3">
                <div class="d-flex align-items-center">
                    <i class="fa fa-warning fs-3 me-3 txt-warning"></i>
                    <div>
                        No hay clientes registrados en Morfeeweb!
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
