{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>{% block titulo %}Morfee Tablero de Analítica de Datos{% endblock %}</title>
		<meta name="description" content="Morfee es un Tablero & Admin de Analítica de Datos." />
		<meta name="keywords" content="admin, admin dashboard, admin data, cms, crm, Morfee Admin, Morfeeadmin, premium admin, responsive admin, sass, panel, software, ui, visualization, web app, application" />
		<meta name="author" content="Adrián Carvajal"/>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
		<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
		
		<!-- Custom CSS -->
		<link href="{% static 'philbert/light/dist/css/style.css' %}" rel="stylesheet" type="text/css">
		{% block estilo %}
		{% endblock %}
		<style>
			.logo {margin:10% auto; display: flex; vertical-align: middle;}
			@media only screen and (max-width: 1200px)  {.degradadoX{display:none;}}
			@media only screen and (min-width: 1201px)  {.degradadoX{background:radial-gradient(#FFFFFF, #d8d5d5);}}
			
		</style>
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-itx">
			<div class="la-anim-1x"></div>
		</div>
		<!--/Preloader-->

		<div class="wrapper pa-0">
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle degradado">
							<div class="full-height">
								<div class="row">
									<div class="col-xl-7 col-lg-7 col-sm-12 col-xs-12 full-height degradadoX">
                                        <div class="">
											<a href="javascript:void(0);">
												<img class="logo" src="{% static 'img/logomediano.png' %}" alt="brand"/>
											</a>
										</div>
									</div>
									<div class="col-xl-5 col-lg-5 col-sm-12 col-xs-12 full-height px-5">	
                                        <hr class="light-grey-hr ma-0"/>
										<div class="form-wrap">
											<form method="post" action="{% url 'login' %}">
                                                {% csrf_token %}
												<div class="form-group">
													<div class="mt-5 pt-5 mb-4 ">
														<h3><strong class="text-dark">Iniciar sesión</strong></h3>
														<p>Ingrese su usuario y contraseña para iniciar sesión</p>
													</div>
                                                    <label for="{{ form.username.id_for_label }}" class="control-label mb-10">Usuario</label>
                                                    {{ form.username }}
													{% if form.username.errors %}
													<div class="alert alert-danger alert-dismissable">
														<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
														{{ form.username.errors|striptags }}
													</div>
													{% endif %}
												</div>
                                                <div class="form-group">
                                                    <label for="{{ form.password.id_for_label }}" class="control-label mb-10">Contraseña</label>
                                                    {{ form.password }}
													{% if form.password.errors %}
													<div class="alert alert-danger alert-dismissable">
														<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
														{{ form.password.errors|striptags }} 
													</div>
													{% endif %}
                                                </div>
												{% if form.errors %}
												<div class="alert alert-danger alert-dismissable">
													<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
													{{ form.errors }}
												</div>
												{% endif %}
												<div class="form-group text-center mt-40">
													<button type="submit" class="btn btn-info btn-success btn-rounded btn-block">Iniciar sesión</button>
                                                    <input type="hidden" name="next" value="{% url 'inicio' %}">
												</div>
											</form>
										</div>
										<div>
											<div class="d-flex align-items-center justify-content-center">
												<img src="{% static 'img/logo_min.png' %}" alt="" height="30px">
												<span class="ms-3" style="letter-spacing: 1px; font: 11px Arial;">Innovación Analítica S.A.S.</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
			</div>
			<!-- /Main Content -->
		</div>
		<!-- jQuery -->
		<script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>
		
		<!-- Init JavaScript -->
		<script src="{% static 'dist/js/init.js' %}"></script>
		{% block logica %}
		{% endblock %}
	</body>
</html>
