{% extends "morfee_frontier/base.html" %}
{% load i18n static %}

{% block estilo %}
<style>
.dk-normal {text-transform: none}
input.form-control {text-transform: none !important}
</style>
{% endblock %}
{% block contenido %}
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">PERFIL</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="active"><span>Cambio de contraseña</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="panel panel-default card-view border">
    <div class="panel-heading">
        <h6 class="panel-title fs-5">CAMBIO DE CONTRASEÑA</h6>
    </div>
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <form method="post">{% csrf_token %}
                <div>
                {% if form.errors %}
                    <p class="errornote">
                    {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}
                <div class="alert alert-warning">
                    <div class="d-flex align-items-center">
                        <i class="zmdi zmdi-alert-circle-o me-2"></i>
                        <p class="my-0">Ingrese su contraseña anterior, por razones de seguridad, y luego ingrese su nueva contraseña dos veces para que podamos verificar que la escribió correctamente.</p>
                    </div>
                </div>
                <fieldset class="module aligned wide">
                    <div class="form-group mb-4">
                        {{ form.old_password.errors }}
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                    </div>
                    <div class="form-group mb-4">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        {% if form.new_password1.help_text %}
                        <div class="help"{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group mb-4">
                    {{ form.new_password2.errors }}
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        {% if form.new_password2.help_text %}
                        <div class="help"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                    </div>
                </fieldset>

                <div class="submit-row mt-4">
                    <input type="submit" value="Cambiar mi contraseña" class="btn btn-success dk-normal">
                </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
