{% extends "morfee_frontier/base.html" %}
{% load static %}
{% block contenido %}
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">ADMINISTRADOR</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="active"><span>Roles</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<div class="panel panel-default card-view border">
    <div class="panel-heading">
        <div class="d-flex">
            <h6 class="panel-title fs-5">ROLES REGISTRADOS</h6>
            <a href="{% url 'ad_rol_add' %}" class="btn btn-success btn-sm ms-auto"><i class="icon-plus"></i> &nbsp;Nuevo</a>
        </div>
    </div>
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            {% if datos|length > 0 %}
            <div class="table-wrap">
                <div class="table-responsive">
                    <table class="table table-borderedx table-hover mb-0">
                        <thead>
                            <tr><th class="colmin">No.</th><th>Rol</th><th class="text-center colmin">Nivel</th><th class="text-center colmin">Acción</th></tr>
                        </thead>
                        <tbody>
                        {% for dat in datos %}
                            <tr>
                                <td class="colmin">{{ forloop.counter }}</td>
                                <td>{{ dat.rol }}</td>
                                <td class="text-center colmin">{{ dat.nivel }}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center mx-4">
                                        <a href="{% url 'ad_rol_edit' dat.id %}" data-toggle="tooltip" data-original-title="Editar"><i class="fa fa-pencil"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- End table-wrap -->
            {% else %}
            <div class="bg-light-warning border border-warning txt-dark px-3 py-3">
                <div class="d-flex align-items-center">
                    <i class="fa fa-warning fs-3 me-3 txt-warning"></i>
                    <div>
                        No hay roles registrados en Morfeeweb!
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
