{% extends "base/base.html" %}
{% load static %}

{% block contenido %}
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">PROYECCIONES</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'inicio' %}">Morfee</a></li>
            <li class="active"><span>Proyecciones</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<proyeccion pathpredict="{% url 'pro_predecir' %}" pathmodel="{% static 'modelos/dl_rt_pagos.h5' %}"></proyeccion>
{% endblock %}
